Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
# Single Line Comment

"""
Hey,
This is a Multi Line Comment
"""

'\nMulti Line Comment\n'

Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
# a is a variable for storing value of some data type
a = 5 # assigned value to a
print(a)

5

Q3. How do you convert one data type to another in Python?

In [ ]:
a = 5
print(type(a))
a = str(a)
print(type(a))

<class 'int'>
<class 'str'>

Q4. How do you write and execute a Python script from the command line?

In [ ]:
%%writefile hello.py
print("Hello from the script!")

!python hello.py

Writing hello.py

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [ ]:
my_list = [1,2,3,4,5]
l = my_list[1:3]
print(l)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [ ]:
# Complex number has both real and imaginary parts (a + bi)

a = (3 + 5j)
type(a)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [12]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [13]:
price = 9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [15]:
name = "abhijeet singh"
print(name)

abhijeet singh

Q10. Given the string "Hello, World!", extract the substring "World".

In [19]:
a = "Hello World"
s = a.split()[1]
print(s)

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [20]:
is_student = True
print(is_student)

True