Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a = "string"
b = [1,2,3,4]
c = 4.56
d = (1,4,5,"sam")

Q2. Given are some following variables containing data:
(i) var1 = ' '
(ii) var2 = '[ DS , ML , Python]'
(iii) var3 = [ 'DS' , 'ML' , 'Python' ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [6]:
var1 = ' '
var2 = '[DS, ML, Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1.

In [8]:
type(var1)

str

In [9]:
type(var2)

str

In [10]:
type(var3)

list

In [11]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [14]:
a = 5
b = 3
c = a/b

In [15]:
c

1.6666666666666667

In [16]:
c = a%b
c

2

In [17]:
c = a//b
c

1

In [18]:
c = a**b
c

125

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [20]:
l = [1, 2, 3.4, 5, "sam", [6,7,8], (3,4,5), True, 9, 8]

for i in l:
  print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'bool'>
<class 'int'>
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [31]:
a = 48
b = 2
count = 0

while a%b == 0:
 a = a/b
 count += 1

print(count)

4

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [33]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in l:
  if i%3 ==0:
    print(i, "is divisible by 3.")

  else:
    print(i, "is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [34]:
# Mutable Data Types - Can be modified once defined
# Example:-

# List:
l = [1,2,3]
l[0] = 5
print(l)

[5, 2, 3]

In [41]:
# Immutable Data Types - Can't be modified once defined
# Example:-

# String:
s = "sam"
s[0] = 'a'
print(s)

# Tuple:
t = (1,2,3)
t[0] = 6
print(t)

TypeError: 'tuple' object does not support item assignment